<div class="container">
{% for conf_data in alldata %}
	<div class="card mb-4">
		<header class="card-header">
			<div class="card-header-title level">
			<span class="level-left">
				{% if conf_data['interface_description'] != "" %}
				<span class="is-uppercase">{{ conf_data['interface_description']}} : </span>
				{% else %}
				<span class="has-text-weight-light">anonymous interface : </span>
				{% endif %}
			{{conf_data['name']}}
			</span>
			<span class="field level-center">
				{% if conf_data['status'] == "running" %}
				<input id="switch-{{conf_data['name']}}" type="checkbox" name="switch-{{conf_data['name']}}" class="switch is-success" checked="checked">
				{% else %} 
				<input id="switch-{{conf_data['name']}}" type="checkbox" name="switch-{{conf_data['name']}}" class="switch is-success">
				{% endif %}
				<label for="switch-{{conf_data['name']}}"></label>
			</span>
			<span class="level-right">
				{% if conf_data['status'] == "running" %}
				<span class="icon-text has-text-success">
					<span class="icon">
						<i class="mdi mdi-24px mdi-server-network" aria-hidden="true"></i>
					</span>
					Started
				</span>
				{% else %}
				<span class="icon-text has-text-danger">
					<span class="icon">
						<i class="mdi mdi-24px mdi-server-network-off" aria-hidden="true"></i>
					</span>
					Stopped
				</span>
				{% endif %}
				<div style="display: flex;">
					<div style="flex: 1;height: 20px; background-color: #f4f5f8"></div>
					<div class="divider is-vertical"></div>
					<div style="flex: 1;height: 20px; background-color: #f4f5f8"></div>
				<div>
				{% if conf_data['connected'] == "yes" %}
				<span class="icon-text has-text-success">
					<span class="icon">
						<i class="mdi mdi-24px mdi-security-network" aria-hidden="true"></i>
					</span>
					Connected
				</span>
				{% else %}
				<span class="icon-text has-text-danger">
					<span class="icon">
						<i class="mdi mdi-24px mdi-security-network" aria-hidden="true"></i>
					</span>
					Disconnected
				</span>
				{% endif %}
			</span>
			</div>
		</header>
		{% if conf_data['status'] == "running" %}
		<div class="card-content">
			<div class="content">
				<div class="columns">
					<div class="column is-half">
						<ul class="block-list is-small is-highlighted is-info">
							<li><span class="has-text-weight-semibold">Local address(es):</span> {{conf_data['address']}}</li>
							<li><span class="has-text-weight-semibold">Local port:</span> {{conf_data['listen_port']}}</li>
                            {% if conf_data['dns'] != "" %}
			    <li class="has-tooltip" data-tooltip="Advertised by the server"><span class="has-text-weight-semibold">DNS server(s):</span> {{conf_data['dns']}}</li>
                            {% endif %}
			    {% if conf_data['handshake'] == "never" %}
			    <li class="is-small is-highlighted is-danger has-tooltip" data-tooltip="Never connected - check your configuration"><span class="has-text-weight-semibold">Last handshake:</span> <span class="has-text-danger">{{conf_data['handshake']}}</span></li>
			    {% else %}
			    <li><span class="has-text-weight-semibold">Last handshake:</span> {{conf_data['handshake']}}</li>
			    {% endif %}
						</ul>
					</div>
					<div class="column is-half">
						<ul class="block-list is-small is-highlighted is-info">
							<li><span class="has-text-weight-semibold">Configured server:</span> {{conf_data['endpoints']}}
                            {% if conf_data['peer_description'] != "" %}
							(Known as: {{conf_data['peer_description']}})
                            {% endif %}
                            </li>
			    <li><span class="has-text-weight-semibold">Remote network(s):</span> {{conf_data['allowed_ips']}}</li>
                            {% if conf_data['preshared_key'] == "(none)" %}
			    <li class="is-small is-highlighted is-danger has-tooltip" data-tooltip="Preshared keys improve security"><span class="has-text-weight-semibold">Uses preshared key:</span> <span class="has-text-danger"> No </span></li>
                            {% else %}
			    <li class="is-small is-highlighted is-success"><span class="has-text-weight-semibold">Uses preshared key:</span> <span class="has-text-success">Yes</span></li>
                            {% endif %}
                            {% if conf_data['persistent_keepalive'] == "off" %}
			    <li class="is-small is-highlighted is-danger has-tooltip" data-tooltip="Keepalive allows the system to be always reachable"><span class="has-text-weight-semibold">Keepalive setting (seconds):</span> <span class="has-text-danger"> {{conf_data['persistent_keepalive']}} </span></li>
				{% else %}
				<li class="is-small is-highlighted is-success"><span class="has-text-weight-semibold">Keepalive setting (seconds):</span> <span class="has-text-success"> {{conf_data['persistent_keepalive']}}</span></li>
                            {% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer class="card-footer">
			<span class="card-footer-item">Upload:<br>{{conf_data['upload']}} Mb</span>
			<span class="card-footer-item">Download:<br>{{conf_data['download']}} Mb</span>
			<span class="card-footer-item">Total transfer:<br>{{conf_data['transfer']}} Mb</span>
		</footer>
				{% endif %}
	</div>
{% endfor %}
</div>

<script>
{% for conf_data in alldata %}

    document.getElementById("switch-{{conf_data['name']}}").addEventListener('change', function() {
	    console.log("clicked on: switch-{{conf_data['name']}}");
	    location.replace("{{ x_ingress }}/start_stop/{{conf_data['name']}}");
    });

{% endfor %}
</script>
